:root {
  --bg-color: white;
  --sec-bg-color: rgb(241, 241, 241);
  --button: rgb(255, 166, 0);
  --sec-button: rgb(255, 170, 0);
  --text: black;
}

* {
  border: none;
  outline: none;
  scroll-behavior: smooth;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  height: 100vh;
}

html {
}
