:root {
  --bg-color: white;
  --sec-bg-color: rgb(241, 241, 241);
  --button: rgb(255, 166, 0);
  --sec-button: rgb(255, 170, 0);
  --text: black;
}

* {
  border: none;
  outline: none;
  scroll-behavior: smooth;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  height: 100vh;
  background-color: var(--sec-bg-color);
  color: var(--text);
}

html {
  overflow-x: hidden;
}

.main {
  width: 100%;
  margin: auto auto;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
}

.logo {
  width: 30%;
}

.logo img {
  width: 9rem;
}

.links {
  display: flex;
  align-items: center;
}

.links li {
  width: 100%;
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-left: 2rem;
}
